<?xml version="1.0" encoding="UTF-8"?><html xmlns:z1="http://www.ftn.com/z1">
  <head>
    <title>Z1</title>
    <link href="styles.css" type="text/css" rel="stylesheet"/>
  </head>
  <body>
    <h1>ZAHTEV ZA PRIZNANJE ŽIGA</h1>
    <h3>Zavod za intelektualnu svojinu, Kneginje Ljubice 5, 11000 Beograd</h3>
    <div>
      <h2 style="margin-top: 40px">Podnosioci prijave</h2>
      <table border="1" width="70%">
        <thead>
          <th>Ime i prezime/Poslovno ime</th>
          <th>Adresa</th>
          <th>Kontakt</th>
        </thead>
        <tbody>
          <tr>
            <td rowspan="3" id="name">Novo poslovno ime podnosioca</td>
            <td>Milana Rakica 19</td>
            <td>tel: 1234565</td>
          </tr>
          <tr>
            <td>21000 Novi Sad</td>
            <td>email: email3@gmail.com</td>
          </tr>
          <tr>
            <td>Srbija</td>
            <td>faks: 123455</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div>
      <h2 style="margin-top: 40px">Punomocnik</h2>
      <table border="1" width="70%">
        <thead>
          <th>Ime i prezime/Poslovno ime</th>
          <th>Adresa</th>
          <th>Kontakt</th>
        </thead>
        <tbody>
          <tr>
            <td rowspan="3" id="name">Pera Peric</td>
            <td>Bulevar oslobodjenja 15</td>
            <td>tel: 333333</td>
          </tr>
          <tr>
            <td>21000 Novi Sad</td>
            <td>email: email55@gmail.com</td>
          </tr>
          <tr>
            <td>Srbija</td>
            <td>faks: 123123</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div>
      <h2 style="margin-top: 40px">Zajednicki predstavnik</h2>
      <table border="1" width="70%">
        <thead>
          <th>Ime i prezime/Poslovno ime</th>
          <th>Adresa</th>
          <th>Kontakt</th>
        </thead>
        <tbody>
          <tr>
            <td rowspan="3" id="name">Neka druga poslovnica</td>
            <td>Fruskogorska 12</td>
            <td>tel: 11111</td>
          </tr>
          <tr>
            <td>21000 Novi Sad</td>
            <td>email: email22@gmail.com</td>
          </tr>
          <tr>
            <td>Srbija</td>
            <td>faks: 2834423</td>
          </tr>
        </tbody>
      </table>
    </div>
    <table style="margin-top: 40px" border="1" width="70%">
      <thead>
        <th colspan="3">
          <h3>Podaci o žigu</h3>
        </th>
      </thead>
      <tbody>
        <tr>
          <td style="text-align: center" colspan="3">
                                        INDIVIDUALNI ŽIG
                                    </td>
        </tr>
        <tr>
          <td>
            <strong>Vrsta znaka</strong>
          </td>
          <td>graficki</td>
          <td rowspan="2">
                                Boje:
                                <ul>
              <li>zuta</li>
              <li>zelena</li>
              <li>bela</li>
              <li>crvena</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>
            <strong>Opis znaka</strong>
          </td>
          <td>Opis mog znaka</td>
        </tr>
        <tr>
          <td>
            <strong>Izgled znak</strong>
          </td>
          <td>Lepi znak</td>
          <td rowspan="3">
                                Klase robe i usluga prema Ničanskoj klasifikaciji:
                                <ul>
              <li>11</li>
            </ul>
          </td>
        </tr>
        <td>
          <strong>Transliteracija</strong>
        </td>
        <td>Tekst znaka</td>
      </tbody>
    </table>
    <table style="margin-top: 40px" border="1" width="70%">
      <thead>
        <th>
          <h3>Plaćene takse</h3>
        </th>
        <th>
          <h3>Dinara</h3>
        </th>
      </thead>
      <tbody>
        <tr>
          <td>
            <h4>Osnovna taksa</h4>
          </td>
          <td>1000.0</td>
        </tr>
        <tr>
          <td>
            <h4>Za  Neka klasa</h4>
          </td>
          <td>200.0</td>
        </tr>
        <tr>
          <td>
            <h4>Grafičko rešenje</h4>
          </td>
          <td>150.0</td>
        </tr>
        <tr>
          <td>
            <h4>UKUPNO</h4>
          </td>
          <td>
            <strong>1350.0</strong>
          </td>
        </tr>
      </tbody>
    </table>
    <table style="margin-top: 40px" border="1" width="70%">
      <thead>
        <th colspan="3">
          <h2>Popunjava zavod</h2>
        </th>
      </thead>
      <tbody>
        <tr>
          <td colspan="2">
            <strong>Prilozi uz zahtev</strong>
          </td>
          <td rowspan="20">
            <div style="text-align: center; margin: 5px">
              <h3>Ž - 23 /
                                        2022</h3>
            </div>
            <div style="text-align: center">
                                    Datum podnošenja
                                </div>
            <div style="text-align: center">2022-11-11+01:00</div>
          </td>
        </tr>
        <tr>
          <td>Primerak znaka</td>
          <td>primerak.pdf</td>
        </tr>
        <tr>
          <td>Punomocje</td>
          <td>punomocje.pdf</td>
        </tr>
        <tr>
          <td>Generalno punomocje</td>
          <td>generalno_punomocje.pdf</td>
        </tr>
        <tr>
          <td>Opšti akt o kolektivnom žigu/žigu garancije</td>
          <td>akt.pdf</td>
        </tr>
        <tr>
          <td>Dokaz o pravu prvenstva</td>
          <td>dokaz1.pdf</td>
        </tr>
        <tr>
          <td>Dokaz o uplati takse</td>
          <td>dokaz2.pdf</td>
        </tr>
        <tr>
          <td>Spisak robe i usluga</td>
          <td>
            <ul>
              <li>Neka roba</li>
              <li>Neka druga roba</li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
